.sidebar{
    padding: 15px 0px 15px 0px;
}

.sidebar_menu .menu {
    position: relative;
    /* top: 20px; */
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 2px;
    padding: 4px 0px 4px 0px;
    transition: all 0.3s linear;
}

.sidebar_menu .menu i {
    color: #fff;
    font-size: 15px;
}

.sidebar_menu .menu a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .menu li.active {
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}